<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Nu ai permisiunea sa accesezi aceasta pagina!</h2>
        <p>Apasa pe butonul de mai jos pentru a te intoarce la pagina principala!</p>
        <hr />
        <p>
            <a asp-controller="Albume" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>