@model IEnumerable<User>

@{
    ViewData["Title"] = "Lista tuturor utilizatorilor";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Lista tuturor utilizatoriilor</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="align-middle">
                    <th>Numele utilizatorului</th>
                    <th>Adresa de Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.NumeUtilizator)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>