@model Producator

@{
    ViewData["Title"] = "Update producator";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Editati detaliile producatorului: @Model.NumeProducator</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group" style="margin-bottom: 10px">
                        <label asp-for="ProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProfilePictureURL" class="form-control" />
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px">
                        <label asp-for="NumeProducator" class="control-label"></label>
                        <input asp-for="NumeProducator" class="form-control" />
                        <span asp-validation-for="NumeProducator" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-bottom: 20px;">
                        <label asp-for="Biografie" class="control-label"></label>
                        <textarea asp-for="Biografie" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Biografie" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" style="margin-right: 5px">
                        <a class="btn btn-outline-secondary" asp-action="Index">Arata toti producatorii</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })

        $("#ProfilePictureURL").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}