﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Comanda ta a fost realizata cu succes! </h2>
        <p>Iti multumim si te mai asteptam pe la noi!</p>
        <hr />
        <p>O zi frumoasa!</p>
    </div>
</div>